header {
    background: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(9, 9, 121, 1) 35%, rgba(0, 212, 255, 1) 100%) !important;
    display: flex;
    flex-direction: row;
    padding: 1% 1.4%;
    justify-content: space-between;
    align-items: center;

    & nav {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin-left: auto;

        & ul {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            margin-right: 35px;

            & li {
                font-size: 20px;
                letter-spacing: 1px;
                color: white;
                list-style: none;
                padding: 0 2%;
                text-transform: uppercase;

                & a {
                    color: white;
                }                
            }
        }
    }

    & .logo a {
        text-decoration: none;
        color: white;
    }
}

section.banner {
    width: 100%;
    text-align: center;

    & .banner-image {
        width: 100%;
        height: 500px;

        & img {
            width: 100%;
            height: 100%;
        }

    }

    & h1 {
        margin: 10px 0;
        font-size: 40px;
        font-style: italic;
        text-decoration: underline;
        font-weight: lighter;
    }
}

section.sobre {
    display: flex;
    flex-direction: column;
    margin-top: 10px;

    & .conteudo {
        display: flex;
        flex-direction: row;
        margin: 10px;

        & .foto-conteudo {
            width: 100rem;
            height: auto;
            background-color: blue;

        }

        & p {
            padding: 1%;
            color: #000;
            font-size: 15px;
            text-align: justify;
        }
    }

    & .reverse {
        flex-direction: row-reverse;
    }
}

section.contato {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: azure;
    margin-top: 10px;

    & form {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 2% 0;

        & .form-group {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;
            width: 700px;
            margin: 5px 0;

            & input[type="text"],
            input[type="email"] {
                border-radius: 5px;
                width: 100%;
                border: 1px solid #ccc;
                padding: 1%;
                margin: 5px 0;
            }

            & textarea {
                width: 100%;
                height: 100px;
                overflow-x: auto;
                border-radius: 5px;
                resize: none;
                border: 1px solid #ccc;
                padding: 1%;
            }

            & button {
                color: white;
                background: var(--principal);
                margin: 10px 0;
                padding: 1%;
                border-radius: 10px;
                width: 350px;
                border: none;
                font-size: 20px;
                box-shadow: 10px 10px 8px #888888;
                cursor: pointer;
            }
        }
    }

}

footer {
    background: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(9, 9, 121, 1) 35%, rgba(0, 212, 255, 1) 100%) !important;
    text-align: center;
    padding: 1.4%;

    & p {
        font-size: 30px;
        color: white;
    }
}