@import url('../Pages//styles/styles.css'); /* estilo da home */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Open Sans"!important;
}

:root{
    --principal: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(9, 9, 121, 1) 35%, rgba(0, 212, 255, 1) 100%);
}
a{
    text-decoration: none;
}

.container{
    max-width: 1280px;
    padding: 0 2%;
    margin: 0 auto;
}
